body{
    font-family: 'noto sans', sans-serif;
    background:linear-gradient(45deg,rgba(152, 154, 255, 0.5), rgba(152, 234, 255, 0.45));
}
a,h2{
    font-family: Kalnia, san-serif ;
}
.name{
    background:linear-gradient(45deg, rgb(104, 126, 255), rgb(148, 0, 255)) ;
    margin-left: 45%;
    margin-right: 45%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
h3,h4{
    font-family: Raleway, sans-serif ;
}
.container{
    max-width: 840px;
    margin: 0 auto;
}
.container <div{
    margin: 20px auto;
}
.intro{
    text-align: center;
}
.about-grid{
    display: grid;
    grid-template-columns: 50% 50%;
}
.i-am, .i-like{
    text-align: center;
}
.about-list,p{
    list-style: none;
    font-family: whisper, sans-serif ;
    font-style: oblique;
}
@media (max-width= 480px){
    .about-grid{
        grid-template-columns: 100%;
        display: flex;
    }
}
.projects-heading{
    text-align: center;
}
.projects-grid{
    display: grid;
    grid-template-columns: 50% 50%;
}
.project-image{
 justify-self: center;
 padding: 2%;
 position: relative;
}
.Project-image-wrapper{
 justify-self: center;
 padding: 2%;
 position: relative;
 color: rgba(158, 101, 158, 0.733);
}
.project-image{
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);
    transition: all ease-in-out .2s;
}
.project-image:hover{
    filter: brightness(.75);
    box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16)
}
.Project-image-wrapper:hover > h4{
    visibility: visible;
}
.Project-image-wrapper > h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    visibility: hidden;
    z-index: 2;
    transition: all ease-in-out .2s;
}
@media (max-width= 625px){
    .projects-grid{
        grid-template-columns: 100%;
    }
}  
.Links-and-Forms{
    display: grid;
    grid-template-columns: 30% 70%;
}
.link{
    justify-self: center;
}
.Links-list{
    list-style: none;
    padding: 0;
}
@media (max-width= 650px){
    .Links-and-Forms{
    grid-template-columns: 100%;
    }
}
.profile-picture{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);
    transition: all ease-in-out .2s;
}
.profile-picture:hover{
    box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.35);
}
form input, textarea{
    padding: 5px;
    border-radius: 5px;
    width: 240px;
}
 form input{type= "submit"}{
    width: 280px;
 }
 .submit-button-wrapper{
    margin:18px 0;
}
 hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)) ;
 }
 .shorter{
width: 60%;
 }
 .medium{
width: 75%;
 }
